*{
    margin: 0;
    padding: 0;
}

.home {
    display: flex;
    align-items: center;
    flex-direction: column;

    &>.home__header {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        background: #EEF5DB;
        font-family: sans-serif;
        justify-content: space-between;
    
        &>h1 {
            color: #1F274C;
        }
    
        &>.header__logo {
            color: #01A098;
    
            &>span {
                color: #1F274C;
            }
    
        }
    
    }

    &>.home__main-section {
        width: 25rem;
        height: 12.5rem;
        display: flex;
        color: #1F274C;
        margin: 15rem 0 0 0;
        align-items: center;
        background: #EEF5DB;
        flex-direction: column;
        font-family: sans-serif;
        border-radius: 1.5rem;
        justify-content: space-evenly;

        &>.main-section__btn {
            width: 10rem;
            height: 2.5rem;
            color: #1F274C;
            cursor: pointer;
            font-size: 1.5rem;
            background: transparent;
            border-radius: 6.25rem;
            border: 0.125rem solid #01A098;

            &:hover {
                background: #01a0981e;
            }

        }

    }

}